<!DOCtype html>
<html>
    <head>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>YelpCamp</title>
    </head>
    <body>
        <div id="navigation">
            <!--
            <a id="logo" href="/">YelpCamp</a>
            <a class="upin" href="/">Sign Up</a>
            <a class="upin" href="/">Login</a>
            <a class="upin" href="/">Logout</a>
            -->
            <a id="logo" href="/">YelpCamp</a>
            <a href="/campgrounds"><button class="btn btn-outline-primary" >Campgrounds</button></a>
            <button class="btn btn-outline-primary upin">Sign Up</button>
            <button class="btn btn-outline-primary upin">Login</button>
            <button class="btn btn-outline-primary upin">Logout</button>
        </div>
        
        
        