<% include partials/header %>
<div>
    <p><%= campground.name %></p>
    <img class="img-responsive img-thumbnail"src="<%= campground.image %>">
    <p><%= campground.description %></p>
</div>
<% include partials/footer %>